@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid d-flex align-items-center">
        <!-- Bottone Offcanvas -->
        <div class="navbar-left">
            <button class="navbar-toggler d-block me-2" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBackdrop"
                    aria-controls="offcanvasWithBackdrop"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Spazio tra bottone e titolo -->
            <div class="me-2"></div>

            <!-- Titolo -->
            <NavLink class="navbar-brand fw-bold text-light" href="/">TaskManager</NavLink>
        </div>
        
        <!-- Login -->
        <div class="ms-auto">
            <NavLink class="nav-link text-light" href="/login" >
                <i class="bi bi-box-arrow-in-right"></i> Login
            </NavLink>
        </div>
    </div>
</nav>


