<AuthorizeView>
    <Authorized>
        <a class="btn btn-danger me-2" href="Account/Logout">
            <i class="bi bi-box-arrow-right me-1"></i> Log out
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="Account/Login">
            <i class="bi bi-box-arrow-in-right me-1"></i> Log in
        </a>
    </NotAuthorized>
</AuthorizeView>
