@using TaskManager.Models
@using TaskManager.Service

@inject IJSRuntime JavaScript
@inject TaskState TaskState
@inject TaskService TaskService


<div class="card text-bg-warning mt-2 mb-2" @onclick="UpdateTask">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">@Task.Title</h5>
    <p class="card-text">@Task.Description</p>
  </div>
</div>

@code {
    [Parameter]
    public TaskM Task { get; set; }

    private async Task UpdateTask()
    {
        await TaskState.LoadTaskAsync(TaskService, Task.Id);
        await JavaScript.InvokeVoidAsync("showEditTaskModal");
    }
}
