@using TaskManager.Models
@using TaskManager.Service

@inject IJSRuntime JavaScript
@inject TaskState TaskState
@inject TaskService TaskService
@inject DragDropService DragDropService


<div draggable="true" class="card mt-2 mb-2 shadow-sm border-0 task-card"
     @onclick="UpdateTask"
     @ondragstart="() => DragDropService.DraggedTaskId = Task.Id"
     style="cursor: grab; transition: transform 0.1s ease-in-out;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0 text-truncate title-multiline" title="@Task.Title">@Task.Title</h5>
            <span class="badge bg-secondary p-1">@Task.Priority?.Name</span>
        </div>
        <br>
        <p class="card-text text-muted mb-0" style="white-space: pre-wrap;">@Task.Description</p>
    </div>
</div>


@code {
    [Parameter]
    public TaskM Task { get; set; }

    private async Task UpdateTask()
    {
        await TaskState.LoadTaskAsync(TaskService, Task.Id);
        await JavaScript.InvokeVoidAsync("showEditTaskModal");
    }
}
