<div class="card text-bg-warning mt-2 mb-2" @onclick="() => OnClick(TaskId)">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">@Title</h5>
    <p class="card-text">@Description</p>
  </div>
</div>

@code {
    [Parameter]
    public int TaskId { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    public void OnClick(int taskId)
    {
        Console.WriteLine($"Task {taskId} clicked.");
    }
}
