@page "/"

<PageTitle>Home</PageTitle>

<h1>Task Manager</h1>
<br>
<h2>Your projects, organized.</h2>
<br>
<p>
    Board Manager helps you track tasks, collaborate with your team, and stay productive.  
    All boards are private and secure — log in to get started.
</p>
<img class="rounded mx-auto d-block border" src="homepage.png" alt="Boards preview" width="100%"/>